node_modules/
.DS_Store
build/
dist/
dist-ssr/
*.local
*.local.*

# HTTP request templates
*.http
*.rest

# Zone identifiers
*:Zone.Identifier

# Temporary files
tmp/
temp/

# Generated indices and data
public/resources/
public/sitemap.txt
public/users/**/blogs/index.yml

# JavaScript
*.js
*.jsx