.blog-post-title {
	font-weight: normal;
	color: rgb(126, 202, 202);
}

.no-underline {
	text-decoration: none;
}

.blog-post-title.on-hover:hover,
.blog-post-title.on-hover:focus {
	filter: brightness(140%);
}

.about-blog-post {
	opacity: 0.8;
}

.post-summary {
	font-size: 0.9em;
}