#footer {
	line-height: 1.5em;
	animation: levitating 2s alternate-reverse infinite ease-in-out;
}

#footer .heart {
	display: inline-block;
	padding-left:  4px;
	padding-right: 4px;
	transform: translateY(0.1em);
	font-size: 1.8em;
	background-image: url(/assets/India.jpg);
	background-size: 1.6em 1.6em;
	background-position: -0.17em -0.35em;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}