#footer {
	line-height: 1.5em;
	animation: levitating 2s alternate-reverse infinite ease-in-out;
}

#footer .heart {
	display: inline-block;
	padding-left:  4px;
	padding-right: 4px;
	transform: translateY(0.1em);
	font-size: 1.8em;
	background-image: url(/assets/Indian_Heart.png);
	background-size: /* 40px 40px */ 1.39em 1.39em;
	background-position: -0.03em -0.29em;
	color: transparent;
}